.brand-template {
  overflow: hidden;
  color: white;
}

.brand-template__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-template__banner__image {
  width: 705.9px;
}

.brand-template__content__logo,
.brand-template__content__slogan,
.brand-template__content__description {
  margin-left: auto;
  margin-right: auto;
}

.brand-template__content {
  text-align: center;
}

.brand-template__content__logo {
  width: 201.7px;
  margin-bottom: 20px;
}

.brand-template__content__category {
  font-size: 12.7px;
  margin-bottom: 40px;
}

.brand-template__content__video {
  max-width: 100%;
  width: 100%;
  margin-bottom: 40px;
}

.brand-template__content__slogan {
  max-width: 80%;
  font-size: 33px;
  font-family: var(--ff-cervo-neue-medium);
  margin-bottom: 26.7px;
}

.brand-template__content__description {
  max-width: 227.4px;
  font-size: 18.7px;
  margin-bottom: 20px;
}

.brand-template__content__format {
  font-size: 18.7px;
  margin-bottom: 10px;
}

