.our-coffee {
  background-color: var(--color-raisin-black);
  overflow: hidden;
}

.our-coffee__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-coffee__banner__image {
  width: 1420px;
}

.our-coffee__content__header,
.our-coffee__content__body {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.our-coffee__content__header {
  font-size: 30.4px;
  font-family: var(--ff-cervo-neue-medium);
  margin-bottom: 33.4px;
}

.our-coffee__content__body {
  max-width: 223.4px;
  font-size: 19.7px;
  margin-bottom: 30px;
}