.seal-template {
   overflow: hidden;
   color: white;
}

.seal-template__banner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.seal-template__banner__image {
  width: 1420px;
}

.seal-template__content {
   color: white;
   text-align: center;
}

.seal-template__content__header {
   font-size: 30.4px;  
   font-family: var(--ff-cervo-neue-medium);
   margin-bottom: 56px;
}

.seal-template__content__body {
   max-width: 223.4px;
   font-size: 19.7px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;   
}