@media screen and (min-width: 425px) {
  .home__know-us__content__link button,
  .home__our-coffee__card__content__link button,
  .seal-content-link button {
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 12px;
  }

  /* .home__know-us */
  .home__know-us__content__header {
    font-size: 37px;
    margin-bottom: 40px;
  }
  
  .home__know-us__content__header__a {
    max-width: 238px;
  }

  .home__know-us__content__header__b {
    max-width: 205px;
  }  

  .home__know-us__content__body {
    max-width: 353px;
    font-size: 20.5px;
    margin-bottom: 30px;
  }
  
  .home__know-us__content__link {
    margin-bottom: 60px;
  }

  .home__know-us__content__link a {
    padding: 15.4px 23.7px;
    font-size: 15px;
  }
  
  /* .home__our-coffee */
  .home__our-coffee__card__image {
    width: 1256px; 
  }

  .home__our-coffee__card__content {
    max-width: 353px;
  }
  
  .home__our-coffee__card__content__header {
    font-size: 47px;
    margin-bottom: 30px;
  }

  .home__our-coffee__card__content__body {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .home__our-coffee__card__content__link a {
    padding: 13.45px 19.85px;
    font-size: 14px;
  }

  /* .home__trademarks */
  .home__trademarks__header {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .home__trademarks__brands {
    margin-bottom: 60px;
  }

  .home__trademarks__brands__a__image,
  .home__trademarks__brands__b__image {
    width: 130px;
  }

  /* .home__trademarks__seals */
  .home__trademarks__seals {
    gap: 16px;
  }

  .seal-bg-image {
    width: 353px;
  }

  .seal-content__header,
  .seal-content-link {
    margin-bottom: 30px;
  }
  
  .seal-content__header {
    font-size: 26px;
  }
  
  .seal-content-link a {
    padding: 10.2px 50.2px;
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) {
  /* .home__know-us */
  .home__know-us__content__header {
    font-size: 38px;
    margin-bottom: 53.3px;
  }

  .home__know-us__content__header__a,
  .home__know-us__content__header__b {
    max-width: fit-content;
  }  

  .home__know-us__content__body {
    max-width: 451px;
    font-size: 21.6px;
    margin-bottom: 40px;
  }

  .home__know-us__content__link {
    margin-bottom: 75px;
  }
  
  .home__know-us__content__link a {
    padding: 16.8px 26.2px;
    font-size: 16.3px;
  }

  /* .home__our-coffee */
  .home__our-coffee__card__image {
    width: 1477px; 
  }

  .home__our-coffee__card__content {
    max-width: 459.6px;
  }

  .home__our-coffee__card__content__header {
    font-size: 53.6px;
    margin-bottom: 40px;
  }
  
  .home__our-coffee__card__content__body {
    font-size: 18px;
    margin-bottom: 33.3px;
  }
  
  .home__our-coffee__card__content__link a {
    padding: 15.35px 23.2px;
    font-size: 15.6px;
  }
  
  /* .home__trademarks */
  .home__trademarks__header {
    font-size: 34.6px;
    margin-bottom: 40px;
  }

  .home__trademarks__brands {
    margin-bottom: 80px;
  }

  .home__trademarks__brands__a {
    flex-direction: initial;
    margin-bottom: 20px;
  }

  .home__trademarks__brands__a__image,
  .home__trademarks__brands__b__image {
    width: 158.3px;
  }

  /* .home__trademarks__seals */
  .home__trademarks__seals {
    gap: 21.3px;
  }

  .seal-bg-image {
    width: 457px;
  }

  .seal-content__header,
  .seal-content-link {
    margin-bottom: 40px;
  }

  .seal-content__header {
    font-size: 33.3px;
  }

  .seal-content-link a {
    padding: 13.5px 65.9px;
    font-size: 13.6px;
  }
}

@media screen and (min-width: 1024px) {
  /* .home__know-us */
  .home__know-us__content__header {
    font-size: 39px;
    margin-bottom: 66.6px;
  }
  
  .home__know-us__content__body {
    max-width: 549px;
    font-size: 22.8;
    margin-bottom: 50px;
  }

  .home__know-us__content__link {
    margin-bottom: 90px;
  }

  .home__know-us__content__link a {
    padding: 18.1px 27.9px;
    font-size: 17.8px;
  }
  
  /* .home__our-coffee */
  .home__our-coffee__card__image {
    width: 1699px;
  }

  .home__our-coffee__card__content {
    max-width: 566.3px;
  }

  .home__our-coffee__card__content__header {
    font-size: 60.3px;
    margin-bottom: 50px;
  }
  
  .home__our-coffee__card__content__body {
    font-size: 21px;
    margin-bottom: 36.6px;
  }

  .home__our-coffee__card__content__link a {
    padding: 17.22px 26.4px;
    font-size: 17.3px;
  }

  /* .home__trademarks */
  .home__trademarks__header {
    font-size: 41.3px;
    margin-bottom: 50px;
  }

  .home__trademarks__brands {
    margin-bottom: 100px;  
  }
  
  .home__trademarks__brands__a {
    margin-bottom: 30px;
  }

  .home__trademarks__brands__a__image,
  .home__trademarks__brands__b__image {
    width: 186.6px;
  }

  .home__trademarks__brands__b {
    flex-direction: initial;
    flex-wrap: wrap;
  }

  /* .home__trademarks__seals */
  .home__trademarks__seals {
    flex-direction: initial;
    gap: 26.6px;
  }

  .seal-bg-image {
    width: 498.7px;
  }

  .seal-content__header,
  .seal-content-link {
    margin-bottom: 50px;
  }

  .seal-content__header {
    font-size: 40.6px;
  }
  
  .seal-content-link a {
    padding: 16.8px 81.5px;
    font-size: 16.3px;
  }
}

@media screen and (min-width: 1440px) {
  /* .home__know-us */
  .home__know-us__content__header {
    font-size: 40px;
    margin-bottom: 80px;
  }

  .home__know-us__content__body {
    max-width: 647px;
    font-size: 24px;
    margin-bottom: 60px;
  }

  .home__know-us__content__link {
    margin-bottom: 120px;
  }
  
  .home__know-us__content__link a {
    padding: 19.6px 30.8px;
    font-size: 19px;
  }

  /* .our__coffee */
  .home__our-coffee__card__image {
    width: 1920px;
  }

  .home__our-coffee__card__content {
    max-width: 673px;
  }

  .home__our-coffee__card__content__header {
    font-size: 67px;
    margin-bottom: 60px;
  }
  
  .home__our-coffee__card__content__body {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .home__our-coffee__card__content__link a {
    padding: 19.6px 29.6px;
    font-size: 19px;
  }

  /* .home__trademarks */
  .home__trademarks__header {
    font-size: 48px;
    margin-bottom: 60px;
  }

  .home__trademarks__brands {
    margin-bottom: 120px;  
  }

  .home__trademarks__brands__a {
    margin-bottom: 40px;
  }

  .home__trademarks__brands__a__image,
  .home__trademarks__brands__b__image {
    width: 215px;
  }

  /* .home__trademarks__seals */
  .home__trademarks__seals {
    gap: 32px;
  }

  .seal-bg-image {
    width: 665px;
  }
  
  .seal-content__header,
  .seal-content-link {
    margin-bottom: 60px;
  }  

  .seal-content__header {
    font-size: 48px;
  }

  .seal-content-link a {
    padding: 20.1px 97.1px;
    font-size: 19px;
  }
}