.home__know-us__content__header,
.home__our-coffee__card__content__header,
.home__trademarks__header,
.home__trademarks__seals .seal-content__header {
  font-family: var(--ff-cervo-neue-medium);
}

.home__know-us__content__header__a,
.home__know-us__content__header__b,
.home__know-us__content__body,
.home__our-coffee__card__content__header,
.home__our-coffee__card__content__body,
.home__trademarks__header, 
.seal-content__header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.home__know-us__content__link,
.home__our-coffee__card__content__link,
.seal-content-link {
  margin-left: auto; 
  margin-right: auto;
  width: fit-content;
  height: fit-content;
}

.home__know-us__content__link a,
.home__our-coffee__card__content__link a,
.seal-content-link a {
  border-radius: 8px;
}

/* .home__know-us */
.home__know-us {
  background-color: var(--color-gold-metallic);
}

.home__know-us a {
  color: white;
}

.home__know-us__content__header {
  font-size: 36px;
  margin-bottom: 26.7px;
}

.home__know-us__content__header__a {
  max-width: 232px;
}

.home__know-us__content__header__b {
  max-width: 186px;
}

.home__know-us__content__body {
  max-width: 248px;
  font-size: 19.4px;
  margin-bottom: 20px;
}

.home__know-us__content__link {
  margin-bottom: 45px;
}

.home__know-us__content__link a {
  padding: 14px 21.2px;
  font-size: 13.7px;
  color: white;
  background-color: var(--color-raisin-black); 
}

.home__know-us__video {
  max-width: 100%;
  width: 100%;
}

/* .home__our-coffee */
.home__our-coffee {
  background-color: var(--color-raisin-black);
  overflow: hidden;
}

.home__our-coffee a {
  color: black;
}

.home__our-coffee__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home__our-coffee__card__image {
  width: 867.25px;
}

.home__our-coffee__card__content {
  max-width: 246.4px;
  color: white;
  position: absolute;
}

.home__our-coffee__card__content__header {
  font-size: 40.4px;
  margin-bottom: 20px;
}

.home__our-coffee__card__content__body {
  font-size: 12px;
  margin-bottom: 26.7px;
}

.home__our-coffee__card__content__link a {
  padding: 11.6px 16.5px;
  font-size: 12.4px;
  background-color: white;
  color: black;
}

/* .home__trademarks */
.home__trademarks {
  background-color: var(--color-raisin-black);
}

.home__trademarks__header {
  color: white;
  font-size: 21.4px;
  margin-bottom: 20px;
}

.home__trademarks__brands {
  margin-bottom: 40px;
}

.home__trademarks__brands__a,
.home__trademarks__brands__b,
.home__trademarks__seals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.home__trademarks__brands__a__image,
.home__trademarks__brands__b__image {
  width: 101.7px;
}

/* .home__trademarks__seals */
.home__trademarks__seals {
  gap: 10.7px;
}

.home__trademarks__seals__stc, 
.home__trademarks__seals__scc {
  position: relative;
}

.seal-bg-image {
  width: 249px;
  border-radius: 2px;
  overflow: hidden;
}

.seal-content {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.seal-content__header,
.seal-content-link {
  margin-bottom: 20px;
}

.seal-content__header {
  color: white;
  font-size: 18.7px;
}

.seal-content-link a {
  padding: 6.9px 34.5px;
  font-size: 8.4px;
  font-family: var(--ff-cervo-neue-medium);
  color: black;
  background-color: white;
}