.header {
  display: flex;
  color: white;
  background-color: var(--color-raisin-black);
  font-family: var(--ff-cervo-neue-medium);
  max-height: 94.7px;
  height: 94.7px;
  font-size: 14px;
} 

.header a {
  color: white;
}

.header .menu {
  position: relative;
}

.header .menu__header {
  cursor: pointer;
}

.header .menu__body {
  position: absolute;
  right: 0;
  background-color: var(--color-raisin-black);
  border-radius: 12px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
  padding-left: 36px;
  padding-right: 36px;
}

.header__content__logo {
  width: 126.4px;
}

.header__content__panel,
.header__content__panel .navigation-panel,
.header__content__panel .language-selector {
  display: none;
}

.header__content__menu .menu__header {
  gap: 5px;
}

.header__content__menu .menu__header__side {
  width: 8px;
}

.header__content__menu a,
.header__content__menu .menu__header {
  padding: 8px;
}

.header__content__menu .navigation-panel__item,
.header__content__menu .menu__body__item,
.header__content__menu .menu__header {
  margin-top: 16px;
  margin-bottom: 16px;
}

.header__content__menu .navigation-panel .menu__body {
  position: relative;
}

.header__content__menu > .menu > .menu__header {
  gap: initial;
}

.header__content__menu > .menu > .menu__header > .menu__header__side {
  width: 18px;
  height: 21px;
  padding: 8px;
}

.header__content__menu > .menu > .menu__body {
  width: 190px; 
  top: 75px;
  padding: 8px 18px;
  border: 1px solid var(--color-old-burgundy);
}

.language-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

.language-selector__item {
  width: 29px;
  min-width: 29px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color .1s linear;
}

@media (hover: hover) {
  .header p {
    position: relative;
    width: max-content;
  }

  .header p:after {
    content: "";
    display: block;  
    height: 2px;
    width: 0;
    position: absolute;
    left: 50%;
    background: #ffffff;
    transition: width .03s linear, left .03s linear;
  }

  .header p:hover::after {
    width: 100%; 
    left: 0; 
  }

  .language-selector__item:hover,  
  .language-selector__item:focus {  
    border-color: #ffffff;
  }
}

