.header {
  display: flex;
  color: #ffffff;
  background-color: var(--color-raisin-black);
  max-height: 94.7px;
  height: 94.7px;
  font-family: var(--ff-cervo-neue-medium);
  font-size: 14px;
}

.header a {
  color: #ffffff;
}

.header .menu__head {
  cursor: pointer;
}

.header .menu__body {
  position: absolute;
  right: 0;
  background-color: var(--color-raisin-black);
  border-radius: 12px;
}

.header__ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
  padding-left: 36px;
  padding-right: 36px;
}

.header__logo {
  width: 126.4px;
}

.header__panel .navigation-panel,
.header__panel .language-selector {
  display: none;
}

.header__menu > .menu > .menu__head .menu__head__side {
  width: 18px;
  height: 21px;
  padding: 8px;
}

.header__menu > .menu > .menu__body {
  width: 190px; 
  top: 67px;
  padding: 8px 18px;
  border: 1px solid var(--color-old-burgundy);
}

.navigation-panel__item,
.navigation-panel .menu__head,
.navigation-panel .menu__body__item,
.language-selector {
  margin-top: 16px;
  margin-bottom: 16px;
}

.navigation-panel p {
  padding: 8px;
}

.navigation-panel .menu__head {
  gap: 5px;
}

.navigation-panel .menu__head__side {
  width: 9px;
}

.navigation-panel .menu__body {
  position: relative;
}

.language-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

.language-selector__item {
  width: 29px;
  min-width: 29px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color .1s linear;
  margin: 4px;
}

.language-selector__item.active {
  border-color: #ffffff;
}

@media (hover: hover) and (pointer: fine) {
  .navigation-panel .header p {
    position: relative;
    width: max-content;
  }

  .navigation-panel .header p:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    left: 50%;
    background: #ffffff;
    transition: width .03s linear, left .03s linear;
  }

  .navigation-panel p:hover::after {
    width: 100%; 
    left: 0; 
  }

  .language-selector__item:hover {  
    border-color: #ffffff;
  }
}

