@media screen and (min-width: 425px) {
  .header {
    max-height: 117px;
    height: 117px;
  }

  .header__logo {
    width: 151px;
  }

  .header__menu > .menu > .menu__head .menu__head__side {
    width: 22px;
    height: 26px;
    padding: 10px;
  }

  .header__menu > .menu > .menu__body {
    width: 200px;
    top: 83px;
    padding: 8px 24px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-height: 139.3px;
    height: 139.3px;
  }

  .header__logo {
    width: 175.6px; 
  }

  .header__panel {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
  }

  .header__panel .language-selector {
    display: flex;
  } 
  
  .header__menu > .menu > .menu__head .menu__head__side {
    width: 26px;
    height: 31px;
    padding: 12px;
  }

  .header__menu > .menu > .menu__body {
    top: 99px;
  }
  
  .header__menu .language-selector {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-height: 161.6px;
    height: 161.6px;
  }

  .header__logo {
    width: 200.2px;
  }

  .header__menu {
    display: none;
  }

  .header__panel {
    gap: 14px;
  }

  .header__panel .navigation-panel {
    display: flex;
    justify-content: center;
    gap: 26px;
  }
  
  .navigation-panel p {
    padding: 2px;
  }
  
  .navigation-panel .menu__body p {
    padding: 6px;
  }
  
  .navigation-panel .navigation-panel__item,
  .navigation-panel .menu__body__item,
  .navigation-panel .menu__head,
  .language-selector {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .navigation-panel .menu__head {
    gap: 4px;
  }

  .navigation-panel .menu__head__side {
    width: 6px; 
  }

  .navigation-panel .menu__body {
    position: absolute;
    width: max-content;
    top: 111px;
    padding: 8px 28px;
    border: 1px solid var(--color-old-burgundy);
  }

  .language-selector {
    width: 69px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    max-height: 184px;
    height: 184px;
    font-size: 16px;
  }

  .navigation-panel .menu__body {
    top: 123px;
    padding: 10px 30px;
  }

  .header__logo {
    width: 225px;
  }

  .header__panel {
    gap: 17px;
  }
  
  .navigation-panel {
    gap: 30px;
  }
  
  .navigation-panel .menu__head {
    gap: 5px;
  }
  
  .navigation-panel .menu__head__side {
    width: 8px; 
  }
}