.carousel a {
  color: white;
}

.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.carousel__container {
  display: flex;
}

.slide {
  flex: 0 0 755.92px;
  min-width: 0;
  position: relative;
}

.slide__image {
  width: 100%;
}

.slide__content {
  position: absolute;
}

.slide__content__header,
.slide__content__body,
.slide__content__link {
  font-family: var(--ff-cervo-neue-medium);
}

.cohiba .slide__content__link, 
.coffee-embassador .slide__content__link, 
.cubacafe .slide__content__link {
  width: fit-content;
  height: fit-content;
}

.cohiba .slide__content__link a, 
.coffee-embassador .slide__content__link a, 
.cubacafe .slide__content__link a {
  /* Computed height of 34px */
  padding-top: 11.3px;
  padding-bottom: 11.3px;
  font-size: 10px;
  border-radius: 12px;
}

/* Cohiba */
.cohiba .slide__content {
  right: 0;
  bottom: 36.5%; 
  width: calc((100% - 100vw)/2 + 100vw - 36px);
  min-width: 550px;
}

.cohiba .slide__content__header {
  color: var(--color-raisin-black);
  font-size: 28px;
  margin-bottom: 12px;
}

.cohiba .slide__content__header p:nth-child(1),
.cohiba .slide__content__header p:nth-child(2) {
  display: inline-block;
  vertical-align: middle;
}

.cohiba .slide__content__header p:nth-child(1) {
  font-family: var(--ff-cervo-neue-light);
  margin-right: 2px;
}

.cohiba .slide__content__body {
  color: var(--color-raisin-black);
  font-size: 15px;
  margin-bottom: 16.6px;
}

.cohiba .slide__content__link a {
  /* Computed width of 70px */
  padding-left: 19.3px;
  padding-right: 19.3px;
  color: white;
  background-color: var(--color-raisin-black);   
}

/* Coffee Embassador */
.coffee-embassador .slide__content {
  left: 0;
  width: calc((100% - 100vw)/2 + 100vw - 36px);
  bottom: 30%;
  text-align: right;
  min-width: 570px;
}

.coffee-embassador .slide__content__body p:nth-child(1),
.coffee-embassador .slide__content__body p:nth-child(2) {
  font-family: var(--ff-cervo-neue-light);
}

.coffee-embassador .slide__content__body p:nth-child(2),
.coffee-embassador .slide__content__body p:nth-child(3) {
  display: inline-block;
}

.coffee-embassador .slide__content__body p:nth-child(2) {
  margin-right: 2px;
}

.coffee-embassador .slide__content__header {
  color: var(--color-raisin-black);
  font-size: 28px;
  margin-bottom: 18px;
}

.coffee-embassador .slide__content__body {
  color: #ae841f;
  font-size: 15px;
  margin-bottom: 20px;
}

.coffee-embassador .slide__content__link {
  margin-left: auto;
}

.coffee-embassador .slide__content__link a {
  /* Computed width of 75px */
  color: white;
  padding-left: 21.8px;
  padding-right: 21.8px;
  background-color: var(--color-raisin-black);
}

/* Cubacafe */
.cubacafe .slide__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}

.cubacafe .slide__content__logo {
  width: 140px;
  margin-bottom: 28px;
}

.cubacafe .slide__content__link {
  margin-bottom: 3%;
}

.cubacafe .slide__content__link a {
  /* Computed width of 88px */
  color: black;
  padding-left: 12.35px;
  padding-right: 12.35px;
  background-color: white;
}