.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.carousel__container {
  display: flex;
}

.slide {
  flex: 0 0 970px;
  min-width: 0;
  position: relative;  
}

.slide__image {
  width: 100%
}

.slide__content {
  display: none;
  position: absolute;
}

