.who-are-we {
  background-color: var(--color-raisin-black);
  overflow: hidden;
}

.who-are-we__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.who-are-we__banner__image {
  width: 871.2px;
}

.who-are-we__content__logo {
  width: 168.4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 53.4px;
}

.who-are-we__content__header,
.who-are-we__content__body {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.who-are-we__content__header {
  font-size: 30.4px;  
  font-family: var(--ff-cervo-neue-medium);
  margin-bottom: 33.4px;
}

.who-are-we__content__body {
  max-width: 223.4px;
  font-size: 19.7px;
  margin-bottom: 20px;
}