.view-more-item {
  width: 281px;
}

.view-more-item__header {
  font-family: var(--ff-cervo-neue-medium);
  text-align: center;
  font-size: 23.4px;
  margin-bottom: 18px;
}

.view-more-item__image {
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 26.7px;
}

.view-more-item__link {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
}

.view-more-item__link a {
  padding: 10.9px 52.5px;
  font-size: 11px;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  color: black;
}
